:root {
  --header-height: 100px;
}

.App {
  /* display: flex; */
  text-align: center;
}

.App-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  height: var(--header-height);
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.App-header > h1 {
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: -3px;
}

main {
  width: 100%;
  display: flex;
}
main > div {
  flex-grow: 1;
}

.spell-directory, .spell-display, .spell-book {
  height: calc(100vh - var(--header-height));
  overflow: scroll;
}

.spell-display {
  width: 60%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
